<p id="notice"><%= notice %></p>

<h1>Students</h1>



    <% @students.each do |student| %>

        <%= student.name %>
        <%= student.age %>
      <%= link_to 'Show', student, class:'btn btn-success' %>
      <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-info' %>
      <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>

    <% end %>


<br>

<%= link_to 'New Student', new_student_path %>
